# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Projects\Graph\.idea/dataSources/
/../../../../:\Projects\Graph\out/dataSources/
/dataSources.local.xml
/.idea
/out
# Editor-based HTTP Client requests
/httpRequests/
